<ion-header>
  <ion-toolbar color="#323940">
    <ion-button slot="start">
      <ion-back-button defaultHref="list" style="color: black;"><ion-icon ></ion-icon></ion-back-button>
      <!-- <ion-icon name="play-back-outline"></ion-icon> -->
    </ion-button>
    <ion-title class="ion-text-capitalize">{{pokeName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-slides pager="true" [options]="slideOtps">
        <ion-slide>
          <img [src]="pokeImg" style="height: 250px;" alt="">
        </ion-slide>
      </ion-slides>

    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item class="ion-text-capitalize">
          <ion-label>{{pokeName}}</ion-label>
        </ion-item>
        <ion-label><b>Abilities:</b>{{pokeAbility}}</ion-label>
        <ion-item class="ion-text-capitalize">
          <ion-label>Type: {{pokeType}}</ion-label>
          <ion-label></ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <!-- <ion-grid>
    <ion-row>
      <img src="pokemondetail.sprites.front_default" alt="">
    </ion-row>
    <ion-col>
      <ion-item>{{pokemondetail.name}}</ion-item>
      <ion-item>{{pokemondetail.species.name}}</ion-item>
      <ion-item>{{pokemondetail.types[0].type.name</ion-item>
    </ion-col>
  </ion-grid> -->
</ion-content>
